:root {
    --accent: #4a29db;
    --bg: #282b36;
    --bgT: rgba(16, 17, 21, 0.95);
    --txt: #dddce6;
}

* {
    font-family:'Courier New', Courier, monospace;
}

body {
    text-align: center;
}

.settings * {
    color: var(--txt);
}

.display {
    margin: 0 auto;
    max-width: 80%;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    animation: scroll 0.7s;
}

.frame {
    position: absolute;
    border: 10px solid var(--accent);
    border-radius: 14px;
    text-align: center;
    width: 90%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden; /*hide the animations*/
}

.settingsBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 8px;
    color: var(--txt);
    border: none;
    background-color: transparent;
    border-radius: 7px;

    transition: background-color color;
    transition-duration: 0.8s;
}

.settingsBtn:hover {
    color: var(--accent);
    background-color: var(--txt);
}

.settings {
    position: absolute;
    z-index: 10;
    border: 10px solid var(--accent);
    border-radius: 14px;
    padding: 10px;
    width: 70vw;
    height: 50vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--bgT);

    display: none;
}

.settings button {
    padding: 10px;
    padding-left: 15%;
    padding-right: 15%;
    border: 1px solid #fff;
    border-radius: 14px;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    32% {
        opacity: 100;
    }

    33% {
        transform: translateY(-30px);
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    66% {
        transform: translateY(30px);
        opacity: 100;
    }

    100% {
        transform: translateY(0);
    }
}